{% extends "layout.html" %}
{% block body %}

<h2>Valitse keikka</h2>

<form action="{{ url_for('create_setlist', band_id=session.band_id) }}" method="POST">
<select name="selected_shows" id="shows">
    {% for show in shows %}
        <option value="{{ show.id }}">{{ show.name }} </option>
    {% endfor %}
</select>

<head>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.14.0/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/static/test.css">
<style>
#sortable1, #sortable2 {
  border: 1px solid #eee;
  width: 142px;
  min-height: 20px;
  list-style-type: none;
  margin: 0;
  padding: 5px 0 0 0;
  float: left;
  margin-right: 10px;
}
#sortable1 li, #sortable2 li {
  margin: 0 5px 5px 5px;
  padding: 5px;
  font-size: 1.2em;
  width: 120px;
}
</style>
<!-- <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
<script>
$( function() {
  $( "#sortable1, #sortable2" ).sortable({
    connectWith: ".connectedSortable"
  }).disableSelection();
} );
</script> -->
</head>

<body>

<p>Valitse biisejä settilistaan raahaamalla</p>
<div class="column flex">
    <p>Keikkabiisit</p>
    <ul id="sortable1" class="connectedSortable">
      <input type="hidden" name="selected_songs">
    </ul>
</div>

<div class="column flex">
    <p>Kaikki biisit</p>
    <ul id="sortable2" class="connectedSortable">
        {% for song in songs %}
        <input type="hidden" value="{{ song.name }}" name="list_of_songs">
        <li class="ui-state-default" value="{{ song.id }}">{{ song.name }}</li>
        {% endfor %}
    </ul>
</div>
<input type="submit" value="Luo settilista">
</form>
</body>

{% endblock %}