{% extends "layout.html" %}

{% block body %}

<h1>Bändit</h1>
<hr>
{% if session.username %}
    <p>Olet kirjautunut nimellä {{ session.username }}</p>

    {% if session.band_id %}
        <p>Valittu bändi: {{ session.band_name }} </p>
    {% else %}
        <p>Valitse bändi ylävalikosta</p>
    {% endif %}

{% else %}
    <form action="/login" method="POST">
    <p>Tunnus:<br>
    <input type="text" name="username"></p>
    <p>Salasana:<br>
    <input type="password" name="password"></p>
    <input type="submit" value="Kirjaudu">
    </form>
    <a href="/register">Rekisteröidy</a>
{% endif %}

{% endblock %}