<h1>Bändit</h1>
<hr>
{% if session.username %}
    <p>Olet kirjautunut nimellä {{ session.username }}</p>

    {% for band in bands %}
        {% if band.visible %}
            {{ band.id }} : <a href="/band/{{ band.id }}">{{ band.name }}</a> <br>
        {% endif %}
    {% endfor %}

    <a href="/addband">Lisää uusi bändi</a><br>
    <a href="/removeband">Poista bändi</a><br>
    <a href="/logout">Kirjaudu ulos</a>

{% else %}
    <form action="/login" method="POST">
    <p>Tunnus:<br>
    <input type="text" name="username"></p>
    <p>Salasana:<br>
    <input type="password" name="password"></p>
    <input type="submit" value="Kirjaudu">
    </form>
    <a href="/register">Rekisteröidy</a>
{% endif %}